{% extends 'header.html' %}

{% block title %} NEW {% endblock %}

{% block customStyle %}

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/homeloader_form.css' %}">

{% endblock %}

{% block content %}

    <h2>Buy Share</h2>
    <div class="form_input">
        <table class="table table-striped table-hover">
            <tr>
                <th>Company</th>
                <td><b>{{ transaction.company.company_name }}</b></td>
            </tr>
            <tr>
                <th>Seller</th>
                <td>{{ transaction.seller.first_name }} {{ transaction.seller.last_name }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ transaction.company.selling_price }}</td>
            </tr>
            <tr>
                <th>Available</th>
                <td>{{ share.shares_sale }}</td>
            </tr>
        </table>
      <form method="post" action="{% url 'payment' transaction.id %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_fieldName }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" placeholder="{{ field.help_text }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success" value="buy">Buy</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
	
{% endblock %}
