{% load static %}
<html lang="en">
<head>
	<title> {% block title %} document {% endblock title %} </title>

	<!-- all the css load common to each page -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% block customStyle %} {% endblock %}

</head>
<body>

	<div style=" padding-left: 5%; padding-right: 5%;">

		<header>
			{% include "includes/nav.html" %}
		</header>

			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
					<div class="alert alert-danger" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<p>{{ error }}</p>
					</div>
					{% endfor %}
				{% endfor %}
			{% endif %}

			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-{{ message.tags }}" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<p>{{ message }}</p>
				</div>
				{% endfor %}
			{% endif %}

		{% block content %}
			<h1>empty for now</h1>
		{% endblock content %}
	</div>
</body>


</html>