{% extends './header.html' %}

{% block title %} homepage {% endblock %}

{% block customStyle %}
	<!-- 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	 -->
	<!-- importing chartJs CDN : will make it local later -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" ></script>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/homeloader_homepage.css' %}">

	<!-- <style>
		.sideBar {
			border: 1px solid black;
			height: 800px;
			overflow: auto;
		}
		.contentBody {
			border: 1px solid black;
		}
		
	</style> -->

{% endblock %}

{% block content %}
	<div class="row mt-2 ml-1 mr-1">
		<div class="col-3 mt-2 sideBar">
			{% include "includes/sideBar.html" %}
		</div>
		<div class="col m-2 contentBody">
			{% include "includes/stockGraph.html" %}
			{% include "includes/stockDetail.html" %}
		</div>
	</div>

	{% load static %}
	<script src="{% static 'js/homeloader_sampleStockLoad.js' %}"></script>
{% endblock %}