{% extends './header.html' %}

{% block title %} My Company {% endblock %}

{% block customStyle %}

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/homeloader_shares.css' %}">

{% endblock %}

{% block content %}
    <h2>My Company Shares</h2>
    {% if my_companies_list %}
        <table class="table table-hover  shadow wBg">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Shares Count</th>
                    <th>Shares on Sale</th>
                    <th>Cost</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for company in my_companies_list %}
                <tr>
                    <td>
                    <a class="nav-item" href="{% url 'company_page' company.company.id %}">{{ company.company.company_name }}</a>
                </td>
                    <td>{{ company.shares_count }}</td> 
                    <td>{{ company.shares_sale }}</td>
                    <td>₹ {{ company.company.selling_price }}</td>
                    <td>
                        <div class="row">
                            <form class="col" method="GET" action="{% url 'edit_shares' company.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-block">Edit</button>
                            </form>
                            <form class="col" method="GET" action="{% url 'sell_shares' company.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-block">Sell</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><marquee>Times ticking!!! Start a new Company</marquee></p>
    {% endif %}

	
{% endblock %}