{% extends './header.html' %}

{% block title %} My Company {% endblock %}

{% block customStyle %}

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/homeloader_company.css' %}">

{% endblock %}

{% block content %}
	<header>
		{% include "includes/nav.html" %}
    </header>
    <div class='test'>
        <h2>My Company Shares</h2>
        {% if my_companies_list %}
            <ul>
                {% for company in my_companies_list %}
                    <li>
                        <p>Company name - {{ company.company.company_name }}</p>
                        <div class="horizontal">
                            <p>Shares Count - {{ company.shares_count }}</p> 
                            <form method="GET" action="{% url 'edit_shares' company.id %}">
                                {% csrf_token %}
                                <button type="submit">Add/Remove</button>
                            </form>
                        </div>
                        <p>Shares On Sale - {{ company.shares_sale }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Times ticking!!! Start a new Company</p>
        {% endif %}
    </div>

	
{% endblock %}