{% extends './header.html' %}

{% block title %} My Shares {% endblock %}

{% block customStyle %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homeloader_shares.css' %}">

{% endblock %}

{% block content %}
<h2>My Shares</h2>
{% if my_shares_list %}
<table class="table table-striped table-hover shadow wBg">
    <thead>
        <tr>
            <th>Company</th>
            <th>Shares Count</th>
            <th>Shares on Sale</th>
            <th>Cost</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for share in my_shares_list %}
        <tr>
            <td>
                <a class="nav-item"
                    href="{% url 'company_page' share.company.id %}">{{ share.company.company_name }}</a>
            </td>
            <td>{{ share.shares_count }}</td>
            <td>{{ share.shares_sale }}</td>
            <td>₹ {{ share.company.selling_price }}</td>
            <td>
                <form method="GET" action="{% url 'sell_shares' share.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-block">Sell</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>
    <marquee>Hurry Up!!! Buy a new Share</marquee>
</p>
{% endif %}



{% endblock %}