.form_input {
  width: 50%;
  align-self: center;
  margin-left: 25%;
  margin-top: 5%;
}

h2 {
  font-weight: bold;
  text-align: center;
  margin: 2%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
