<!-- linear graph module -->
<section>
	<!-- <div class='container text-center'>
		<h1 class='align-self-center m-5'>A opening Graph</h1>
	</div> -->

	<!-- <div class="row"> -->
		<div class='row ml-2 mr-2 mb-2' style="border: 1px solid black; border-radius: 5px ; padding: 3%;">
			<canvas class='col' id="myChart">
			</canvas>
			<!-- <div class="container text-right">
				<button id="clickChange" class='btn btn-outline-success align-self-center' style="margin-top: 20px" onclick="genLine();console.log('click')">refresh value</button>
			</div> -->
		</div>
		<div class='row ml-2 mr-2 mb-2' style="border: 1px solid black; border-radius: 5px ; padding: 3%;">
			<canvas class='col' id="myChart2">
			</canvas>
			<!-- <div class="container text-right">
				<button id="clickChange" class='btn btn-outline-success align-self-center' style="margin-top: 20px" onclick="genLine2();console.log('click')">refresh value</button>
			</div> -->
		</div>
	<!-- </div> -->
			
</section>
