<div>
    {% if company_list %}
        {% for company in company_list %}
            <div class="shadow rounded card p-1 mt-2 mb-2">
                <div class="card-header">{{ company.company_name }}</div>
                <div class="card-body">
                    {% comment %} <h6 class="card-title">Details</h6> {% endcomment %}
                    <p class="card-text">{{ company.description }}</p>
                    <div class='row'>
                    <form method="GET" action="{% url 'company_page' company.id%}">
                        {% csrf_token %}
                        <button type="submit" class="btn m-1 btn-outline-primary btn-block">Show Details</button>
                    </form>
                    {% comment %} <button class="btn m-1 btn-outline-danger">show Offers</button> {% endcomment %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4>No Companies Registered Yet. Come back later.<h4>
    {% endif %}
</div>