<div>
    <!-- <h2 class="card-header mt-3">
        company name
    </h2>
    <hr> -->
    <div class="shadow rounded card p-1 mt-2 mb-2">
        <div class="card-header text-center"><h3>{{ company.company_name }}</h3></div>
        <div class="card-body">
            <h6 class="card-title">Company Details</h6>
            <p class="card-text">
                <table class="table table-hover table-borderless">
                    <tr>
                        <th>name</th>
                        <td>{{ company.company_name }}</td>
                    </tr>
                    <tr>
                        <th>code</th>
                        <td>{{ company.company_code }}</td>
                    </tr>
                    <tr>
                        <th>key</th>
                        <td>{{ company.company_key }}</td>
                    </tr>
                    <tr>
                        <th>Owner</th>
                        <td>{{ company.owner.first_name }} {{ company.owner.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Details</th>
                        <td>{{ company.description }}</td>
                    </tr>
                    
                </table>
            </p>
            <!-- <div class='row'>
            <button class="col m-1 btn btn-outline-primary">Watchlist</button>
            <button class="col m-1 btn btn-outline-success">Stocks</button>
            </div> -->
        </div>
    </div>
</div>