<div>
    <div class="card p-1 mt-2 mb-2">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h6 class="card-title">Primary card title</h6>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <div class='row'>
            <button class="col m-1 btn btn-outline-primary">show Detail</button>
            <button class="col m-1 btn btn-outline-danger">show Offers</button>
            </div>
        </div>
    </div>
    <div class="card mt-2 mb-2" >
        <div class="card-header">Header</div>
        <div class="card-body">
            <h6 class="card-title">Primary card title</h6>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <div class='row'>
            <button class="col m-1 btn btn-outline-primary">show Detail</button>
            <button class="col m-1 btn btn-outline-danger">show Offers</button>
            </div>
        </div>
    </div><div class="card mt-2 mb-2" >
        <div class="card-header">Header</div>
        <div class="card-body">
            <h6 class="card-title">Primary card title</h6>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <div class='row'>
            <button class="col m-1 btn btn-outline-primary">show Detail</button>
            <button class="col m-1 btn btn-outline-danger">show Offers</button>
            </div>
        </div>
    </div><div class="card mt-2 mb-2" >
        <div class="card-header">Header</div>
        <div class="card-body">
            <h6 class="card-title">Primary card title</h6>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <div class='row'>
            <button class="col m-1 btn btn-outline-primary">show Detail</button>
            <button class="col m-1 btn btn-outline-danger">show Offers</button>
            </div>
        </div>
    </div><div class="card mt-2 mb-2" >
        <div class="card-header">Header</div>
        <div class="card-body">
            <h6 class="card-title">Primary card title</h6>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <div class='row'>
            <button class="col m-1 btn btn-outline-primary">show Detail</button>
            <button class="col m-1 btn btn-outline-danger">show Offers</button>
            </div>
        </div>
    </div><div class="card mt-2 mb-2" >
        <div class="card-header">Header</div>
        <div class="card-body">
            <h6 class="card-title">Primary card title</h6>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <div class='row'>
            <button class="col m-1 btn btn-outline-primary">show Detail</button>
            <button class="col m-1 btn btn-outline-danger">show Offers</button>
            </div>
        </div>
    </div><div class="card mt-2 mb-2" >
        <div class="card-header">Header</div>
        <div class="card-body">
            <h6 class="card-title">Primary card title</h6>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <div class='row'>
            <button class="col m-1 btn btn-outline-primary">show Detail</button>
            <button class="col m-1 btn btn-outline-danger">show Offers</button>
            </div>
        </div>
    </div>
    
    
</div>