{% extends '../header.html' %}

{% block title %} Login {% endblock %}

{% block customStyle %}

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/homeloader_form.css' %}">

{% endblock %}

{% block content %}

    
    
    <div class="wBg p-4 shadow rounded form_input">
      <h2>Sign Up</h2>
      <hr>
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_fieldName }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
                {{ field.help_text }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success btn-block">Submit</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <a href="{% url 'login' %}"><button class="btn btn-outline-primary btn-block">Have an account? Login now.</button></a>
    </div>

	
{% endblock %}
